<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.workflowactions</string>
	<key>connections</key>
	<dict>
		<key>07A3EB01-1C05-49CD-A533-E8E5BB880E81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7C981DE-E513-40B7-B7C2-29AC94CF4CEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FEC66386-8BEF-44FE-9791-81DC92834468</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FE4F7DBE-A4CD-427F-BE56-B709CE4119F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41866A63-8171-4837-A94F-A0AF91359B6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EEC4F5F-F914-4DA1-A387-7D840E95D934</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F6FD465-A80C-48A3-BEB1-D55FC1018BD0</string>
				<key>modifiers</key>
				<integer>1835008</integer>
				<key>modifiersubtext</key>
				<string>View All Actions</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4413D14C-432B-43D1-B568-D71B28427242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8844B88B-D838-4E7F-BD0E-BCD93C66D275</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55D7A8B4-B7FA-43A7-B33A-3A7A961A95C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EEC4F5F-F914-4DA1-A387-7D840E95D934</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>892F94E1-72D2-4113-91A4-92EFC4C676B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55D7A8B4-B7FA-43A7-B33A-3A7A961A95C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EEC4F5F-F914-4DA1-A387-7D840E95D934</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0250922-2725-413D-B8E4-68E0DC701B46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5A8BFFAE-6BF4-46B6-A1E5-B7E1069ABB07</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>413C4FFE-0720-42A3-A57F-8FCC8474CE6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B2D7299-0030-4015-B21A-A88AEF72B12A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>907745E8-E871-4A4D-BF05-1BEC8D9CC9D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>640D4BEC-29E1-4562-ABB4-289B61C5F44C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4413D14C-432B-43D1-B568-D71B28427242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>78844A0F-A50E-4945-B008-118FFED81DC1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FA84F2B-4AA9-40A7-BC7C-4B7E6223B98D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F352D64-3815-47B1-9156-3FB2B40BB751</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF8AEF2E-CDCC-46F3-AB68-A09B49752185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5E8E8BB5-8716-4D53-B167-225F8A763DC7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD01589B-08C9-4DC9-A04D-61DD10299772</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>173FCCF9-52C4-4F62-8933-AC0859303DD3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>46A368DC-850A-443B-81C3-9B2B8901E696</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F572CB2A-7A72-4D91-9BCB-D6D37C3FEE2C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F6FD465-A80C-48A3-BEB1-D55FC1018BD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>892F94E1-72D2-4113-91A4-92EFC4C676B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FA84F2B-4AA9-40A7-BC7C-4B7E6223B98D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EE97345-8EA7-4FCE-97B6-00D25DBFC773</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3810D94-DD80-4422-8A25-6063E7667DAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9E50BB0-4F6A-4439-B441-296DB6CCBDF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A828A5E9-FA7B-4E68-8A63-128B9E95241C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB7D97F2-E9D6-453B-90E2-A45F99D1D567</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0DE2FFA5-31C1-4E44-A310-3A4519BB1E5A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEDD24B9-58C9-4C3F-9819-87BBBCE26F78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07A3EB01-1C05-49CD-A533-E8E5BB880E81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF8AEF2E-CDCC-46F3-AB68-A09B49752185</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEDD24B9-58C9-4C3F-9819-87BBBCE26F78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD01589B-08C9-4DC9-A04D-61DD10299772</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3810D94-DD80-4422-8A25-6063E7667DAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Fast workflow interactions for creators</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Workflow Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const baseName = $(argv[0]).lastPathComponent.js
  Application("com.runningwithcrayons.Alfred").revealWorkflow(baseName)
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0250922-2725-413D-B8E4-68E0DC701B46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run(argv) {
  const baseName = $(argv[0]).lastPathComponent.js
  Application("com.runningwithcrayons.Alfred").revealWorkflow(baseName, { configuration: true })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>413C4FFE-0720-42A3-A57F-8FCC8474CE6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}/info.plist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>907745E8-E871-4A4D-BF05-1BEC8D9CC9D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>edit_workflow</string>
						<key>outputlabel</key>
						<string>Edit</string>
						<key>uid</key>
						<string>5A8BFFAE-6BF4-46B6-A1E5-B7E1069ABB07</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>edit_config</string>
						<key>outputlabel</key>
						<string>Configuration</string>
						<key>uid</key>
						<string>5B2D7299-0030-4015-B21A-A88AEF72B12A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_finder</string>
						<key>outputlabel</key>
						<string>Finder</string>
						<key>uid</key>
						<string>640D4BEC-29E1-4562-ABB4-289B61C5F44C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_terminal</string>
						<key>outputlabel</key>
						<string>Terminal</string>
						<key>uid</key>
						<string>78844A0F-A50E-4945-B008-118FFED81DC1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_data_cache_folders</string>
						<key>outputlabel</key>
						<string>Data Folders</string>
						<key>uid</key>
						<string>8F352D64-3815-47B1-9156-3FB2B40BB751</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_website</string>
						<key>outputlabel</key>
						<string>Website</string>
						<key>uid</key>
						<string>5E8E8BB5-8716-4D53-B167-225F8A763DC7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>export_workflow</string>
						<key>outputlabel</key>
						<string>Export</string>
						<key>uid</key>
						<string>173FCCF9-52C4-4F62-8933-AC0859303DD3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reload_workflow</string>
						<key>outputlabel</key>
						<string>Reload</string>
						<key>uid</key>
						<string>F572CB2A-7A72-4D91-9BCB-D6D37C3FEE2C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8EEC4F5F-F914-4DA1-A387-7D840E95D934</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/realpath "${1}" | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4413D14C-432B-43D1-B568-D71B28427242</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>8844B88B-D838-4E7F-BD0E-BCD93C66D275</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing workflow information…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>workflow-actions</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Fast workflow interactions for creators</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>41866A63-8171-4837-A94F-A0AF91359B6C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Workflow has not configured website information</string>
				<key>title</key>
				<string>No Website Defined</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F7C981DE-E513-40B7-B7C2-29AC94CF4CEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Edit in Alfred Preferences","arg":"edit_workflow"},{"title":"Open Configuration","arg":"edit_config"},{"title":"Open in Finder","arg":"open_finder"},{"title":"Open in Terminal","arg":"open_terminal"},{"title":"Reveal Data Folders","arg":"open_data_cache_folders"},{"title":"Open Website","arg":"open_website","subtitle":""},{"title":"Export","arg":"export_workflow"},{"title":"Reload","arg":"reload_workflow"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>892F94E1-72D2-4113-91A4-92EFC4C676B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4EE97345-8EA7-4FCE-97B6-00D25DBFC773</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function alfredArgs(args) {
  return JSON.stringify({ alfredworkflow: { arg: args } })
}

function run(argv) {
  const dataFolder = $(envVar("alfred_workflow_data")).stringByDeletingLastPathComponent.js
  const cacheFolder = $(envVar("alfred_workflow_cache")).stringByDeletingLastPathComponent.js
  const workflowBundleID = Application("System Events").propertyListFiles
    .byName(`${argv[0]}/info.plist`)
    .contents.value().bundleid

  if (workflowBundleID.length === 0) return

  return alfredArgs([`${dataFolder}/${workflowBundleID}`, `${cacheFolder}/${workflowBundleID}`])
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FA84F2B-4AA9-40A7-BC7C-4B7E6223B98D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>workflow_folder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F6FD465-A80C-48A3-BEB1-D55FC1018BD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:workflow_folder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>55D7A8B4-B7FA-43A7-B33A-3A7A961A95C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FE4F7DBE-A4CD-427F-BE56-B709CE4119F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/libexec/PlistBuddy -c "Print :webaddress" "${1}/info.plist"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF8AEF2E-CDCC-46F3-AB68-A09B49752185</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No Website</string>
						<key>uid</key>
						<string>FEC66386-8BEF-44FE-9791-81DC92834468</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open Website</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>07A3EB01-1C05-49CD-A533-E8E5BB880E81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>CEDD24B9-58C9-4C3F-9819-87BBBCE26F78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>alfred.action.move</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>F9E50BB0-4F6A-4439-B441-296DB6CCBDF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly workflow_dir="${1}"
readonly tmp_dir="$(/usr/bin/mktemp -d)"
readonly workflow_name="$(/usr/libexec/PlistBuddy -c 'print name' "${workflow_dir}/info.plist")"
readonly workflow_file="$(/usr/bin/tr -s '.' &lt;&lt;&lt; "${tmp_dir}/${workflow_name//[^a-zA-Z0-9]/.}.alfredworkflow")"

DITTONORSRC=1 /usr/bin/ditto -ck "${workflow_dir}" "${workflow_file}" # Create zip
/usr/bin/zip "${workflow_file}" --delete 'prefs.plist' &gt; /dev/null # Delete preferences if they exist

printf "${workflow_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD01589B-08C9-4DC9-A04D-61DD10299772</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:after_export}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>move_to_folder</string>
						<key>outputlabel</key>
						<string>Move</string>
						<key>uid</key>
						<string>A828A5E9-FA7B-4E68-8A63-128B9E95241C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:after_export}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy_to_clipboard</string>
						<key>outputlabel</key>
						<string>Copy</string>
						<key>uid</key>
						<string>0DE2FFA5-31C1-4E44-A310-3A4519BB1E5A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C3810D94-DD80-4422-8A25-6063E7667DAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run(argv) {
  const baseName = $(argv[0]).lastPathComponent.js
  Application("com.runningwithcrayons.Alfred").reloadWorkflow(baseName)
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46A368DC-850A-443B-81C3-9B2B8901E696</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/open ./CopyFile.app --args "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB7D97F2-E9D6-453B-90E2-A45F99D1D567</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search installed workflows, ordered by recenly edited, via the `workflows` keyword.

![Showing workflows](images/about/wflist.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open in Alfred Preferences.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in Terminal
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in Finder.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open Data Folders.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Export.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; View all actions.

Change default modifiers for actions in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).</string>
	<key>uidata</key>
	<dict>
		<key>07A3EB01-1C05-49CD-A533-E8E5BB880E81</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>413C4FFE-0720-42A3-A57F-8FCC8474CE6B</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>41866A63-8171-4837-A94F-A0AF91359B6C</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>4413D14C-432B-43D1-B568-D71B28427242</key>
		<dict>
			<key>note</key>
			<string>Follow symlink</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>46A368DC-850A-443B-81C3-9B2B8901E696</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>985</real>
		</dict>
		<key>4EE97345-8EA7-4FCE-97B6-00D25DBFC773</key>
		<dict>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>55D7A8B4-B7FA-43A7-B33A-3A7A961A95C6</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>8844B88B-D838-4E7F-BD0E-BCD93C66D275</key>
		<dict>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>892F94E1-72D2-4113-91A4-92EFC4C676B7</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>8EEC4F5F-F914-4DA1-A387-7D840E95D934</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8F6FD465-A80C-48A3-BEB1-D55FC1018BD0</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>907745E8-E871-4A4D-BF05-1BEC8D9CC9D9</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>9FA84F2B-4AA9-40A7-BC7C-4B7E6223B98D</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>AB7D97F2-E9D6-453B-90E2-A45F99D1D567</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>985</real>
		</dict>
		<key>C3810D94-DD80-4422-8A25-6063E7667DAD</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>CEDD24B9-58C9-4C3F-9819-87BBBCE26F78</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>EF8AEF2E-CDCC-46F3-AB68-A09B49752185</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>F0250922-2725-413D-B8E4-68E0DC701B46</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>F7C981DE-E513-40B7-B7C2-29AC94CF4CEF</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>F9E50BB0-4F6A-4439-B441-296DB6CCBDF0</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>FD01589B-08C9-4DC9-A04D-61DD10299772</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>FE4F7DBE-A4CD-427F-BE56-B709CE4119F5</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>workflows</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to filter workflows.</string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>edit_workflow</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Edit Workflow</string>
						<string>edit_workflow</string>
					</array>
					<array>
						<string>Edit Configuration</string>
						<string>edit_config</string>
					</array>
					<array>
						<string>Open in Finder</string>
						<string>open_finder</string>
					</array>
					<array>
						<string>Open in Terminal</string>
						<string>open_terminal</string>
					</array>
					<array>
						<string>Open Data Folders</string>
						<string>open_data_cache_folders</string>
					</array>
					<array>
						<string>Open Website</string>
						<string>open_website</string>
					</array>
					<array>
						<string>Export Workflow</string>
						<string>export_workflow</string>
					</array>
					<array>
						<string>Reload Workflow</string>
						<string>reload_workflow</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_none</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>open_terminal</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Edit Workflow</string>
						<string>edit_workflow</string>
					</array>
					<array>
						<string>Edit Configuration</string>
						<string>edit_config</string>
					</array>
					<array>
						<string>Open in Finder</string>
						<string>open_finder</string>
					</array>
					<array>
						<string>Open in Terminal</string>
						<string>open_terminal</string>
					</array>
					<array>
						<string>Open Data Folders</string>
						<string>open_data_cache_folders</string>
					</array>
					<array>
						<string>Open Website</string>
						<string>open_website</string>
					</array>
					<array>
						<string>Export Workflow</string>
						<string>export_workflow</string>
					</array>
					<array>
						<string>Reload Workflow</string>
						<string>reload_workflow</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌘↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_cmd</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>open_finder</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Edit Workflow</string>
						<string>edit_workflow</string>
					</array>
					<array>
						<string>Edit Configuration</string>
						<string>edit_config</string>
					</array>
					<array>
						<string>Open in Finder</string>
						<string>open_finder</string>
					</array>
					<array>
						<string>Open in Terminal</string>
						<string>open_terminal</string>
					</array>
					<array>
						<string>Open Data Folders</string>
						<string>open_data_cache_folders</string>
					</array>
					<array>
						<string>Open Website</string>
						<string>open_website</string>
					</array>
					<array>
						<string>Export Workflow</string>
						<string>export_workflow</string>
					</array>
					<array>
						<string>Reload Workflow</string>
						<string>reload_workflow</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌥↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_alt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>open_data_cache_folders</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Edit Workflow</string>
						<string>edit_workflow</string>
					</array>
					<array>
						<string>Edit Configuration</string>
						<string>edit_config</string>
					</array>
					<array>
						<string>Open in Finder</string>
						<string>open_finder</string>
					</array>
					<array>
						<string>Open in Terminal</string>
						<string>open_terminal</string>
					</array>
					<array>
						<string>Open Data Folders</string>
						<string>open_data_cache_folders</string>
					</array>
					<array>
						<string>Open Website</string>
						<string>open_website</string>
					</array>
					<array>
						<string>Export Workflow</string>
						<string>export_workflow</string>
					</array>
					<array>
						<string>Reload Workflow</string>
						<string>reload_workflow</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌃↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_ctrl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>export_workflow</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Edit Workflow</string>
						<string>edit_workflow</string>
					</array>
					<array>
						<string>Edit Configuration</string>
						<string>edit_config</string>
					</array>
					<array>
						<string>Open in Finder</string>
						<string>open_finder</string>
					</array>
					<array>
						<string>Open in Terminal</string>
						<string>open_terminal</string>
					</array>
					<array>
						<string>Open Data Folders</string>
						<string>open_data_cache_folders</string>
					</array>
					<array>
						<string>Open Website</string>
						<string>open_website</string>
					</array>
					<array>
						<string>Export Workflow</string>
						<string>export_workflow</string>
					</array>
					<array>
						<string>Reload Workflow</string>
						<string>reload_workflow</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Actions to perform when pressing modifier keys.</string>
			<key>label</key>
			<string>⇧↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_shift</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>move_to_folder</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Move to Folder</string>
						<string>move_to_folder</string>
					</array>
					<array>
						<string>Copy to Clipboard</string>
						<string>copy_to_clipboard</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>What to do after exporting workflow to a temporary directory.</string>
			<key>label</key>
			<string>After Export</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>after_export</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.3</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/workflow-actions-workflow/</string>
</dict>
</plist>
